<div class="mt-5 shadow p-3 text-bg-secondary bg-opacity-50 rounded ">
  <div class="overflow-auto border border-4 " style="height: 500px;">
    <div *ngFor="let pais of paises">
      <ul class="list-group">
        <li class="list-group-item">
          <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="firstRadio" (click)="seleccionarPais(pais.nombre)">
          {{pais.nombre}} - [ <img src="{{pais.bandera}}">  {{pais.denominacion}} ]
        </li>
      </ul>
    </div>
  </div>
</div>
